In [1]:
import pandas as pd
dataFrame1 = pd.read_csv('上市公司資料.csv')
dataFrame2 = dataFrame1.reindex(columns = ['公司名稱','產業別','營業收入-當月營收','營業收入-上月營收'])
dataFrame2.columns = ['公司名稱','產業別','當月營收','上月營收']
dataFrame2.index = dataFrame2['公司名稱']
dataFrame2 = dataFrame2.drop(columns=['公司名稱'])
dataFrame2.loc[['亞泥','幸福','信大','東泥','大飲','卜蜂','泰山','福壽','台榮']]

       產業別     當月營收     上月營收
公司名稱
亞泥    水泥工業  7069221  7864622
幸福    水泥工業   390053   326691
信大    水泥工業   478276   557403
東泥    水泥工業   176935   134470
大飲    食品工業    38696    29503
卜蜂    食品工業  2393814  2400161
泰山    食品工業  1054476  1023417
福壽    食品工業  1352250  1321525
台榮    食品工業   314062   294528